.container1{
    display: flex;
    justify-content: center;
}

#spam-img {
    width: 400px;
    height: auto;
}

h1{
    text-align: center;
}

body,
#header,
#ingredients,
#directions {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ingredients,
#directions {
    font-style: italic;
}